h1{
text-align:center;	
font-size:60px;
	font-family:"itc-bradley-hand-std", sans-serif;
	color:#38291E;
}




.bgimg{
	
	
background-image: url(../img/aboutPAGE.jpg);
	background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
	position: relative;
	height: 90vh;
}



.container{
	
  margin: 20px;
  width: auto;
	
	
}

.nav{
	
	overflow: hidden;
	display: block;
  font-size: 20px;
  text-decoration: none;
  color: #C1C8B6;
  border-radius: 5px;
	font-family: "ibm-plex-sans-jp", sans-serif;
	font-weight:20;
	
	
}
	
ul {
display:block;
	list-style-type: none;
	overflow: hidden;
	text-decoration: none;

	
}	


.nav ul{
	
list-style: none;
	display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
	gap: 20px;
}
 
  
	

.nav a {
  display: block;
  text-align: center;
  text-decoration: none;
	padding:15px 60px;
	
}
	



body {
	background-color: #D0D4BE;
	margin-left:0%;
	margin-right: 10%;
	width:100%;
	font-family: "martel-sans", sans-serif;
	
	
}


.subhead p{
	
font-size:15px;	
text-align:center;
margin-left: 40px;
	margin-right: 60px;
	line-height:28px;
	margin-top:80px;
	
	
}

.home{
	
font-size:24px;	
color:#C1C8B6;
background-color:#6A797F;
	margin-left:8px;

	
	
}

.home hover{
text-decoration: underline;	
	
	

	
}

.about{
	
	font-size:24px;
	color:#C1C8B6;	
	background-color:#6A797F;
	
	
	
}

.about hover{
text-decoration: underline;	
	
	
	
}





.menu{
	
font-size:24px;	
	color:#C1C8B6;	
	background-color:#6A797F;
	
	
	
}

.menu hover{
text-decoration: underline;		
	
	
	
}

.events{
	
font-size:24px;	
	color:#C1C8B6;	
	background-color:#6A797F;
	
	
	
	
}

.events hover{
	
text-decoration: underline;	
	
	
	
}


h2{
font-size:35px;
margin-top: 150px;
	margin-left: auto;
margin-right: auto;
	text-align:center;
font-family: "martel-sans", sans-serif;
  border-bottom:4px solid #A0896E;

	padding-bottom:15px;
	width:300px;
	
	
}

.andrecontainer {
  display: flex;
  align-items: center;
  margin-top: 190px;  margin-left: 200px;
	margin-right:200px;
	position: relative;
	padding-top: 100px;
  padding-bottom: 100px;
	
}

.andrecontainer::before,
.andrecontainer::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 200px);
  height: 4px;
  background-color: #A0896E;
}
.andrecontainer::before {
  top: 0; 
}
.andrecontainer::after {
  bottom: 0;
}


.andrecontainer img {
  width: 430px;
  height: auto;
  margin-right: 20px;
	border-style:solid;
	border-color:#A0896E;
	border-width:8px;
}

.quote p {
  font-size: 32px;
font-family: "itc-bradley-hand-std", sans-serif;
	margin-left:50px;
	line-height:50px;
	text-align: center;
}





.farmers{
	
margin-top:-100px;	
	
	
	
}

.farmers p{
	
font-size:15px;	
text-align:center;
	line-height:28px;	
	margin-top:90px;
	margin-left: 30px;
	margin-right: 50px;
	
	
}


.farmers img{
	width:650px;
	height:auto;
	margin: 300px auto 0 auto;
	display:block;
	border-style:solid;
	border-color:#A0896E;
	border-width:8px;
	
	
	
}



footer{
background-color:#C1C8B6;
	z-index: 100;
	bottom: 0;
	padding:40px 20px;
	margin-top:200px;
	overflow:hidden;
	
	
	
	
}

footer p {
margin-top:35px;	
margin-left:150px;
	line-height:25px;
	
}

footer .contact{
	
float:right;
	text-align:right;
	margin-top:-243px;
	margin-right:230px;
	line-height:25px;
	
}


footer img{
	
width:30px;
	height:auto;
	margin-right:5px;
	
	
	
}
