@charset "UTF-8";
/* CSS Document */



h1{
text-align:center;	
font-size:60px;
	font-family:"itc-bradley-hand-std", sans-serif;
	color:#38291E;
}

	

	

.bgimg{
	
	
background-image: url(../img/curated-lifestyle-kpJQVd03HSs-unsplash.jpg);
	background-position: center top;
  background-repeat: no-repeat;
  background-size:cover;
	position: relative;
	height: 85vh;
}



.container{
	
  margin: 20px;
  width: auto;
	
	
}

.nav{
	
	overflow: hidden;
	display: block;
  font-size: 20px;
  text-decoration: none;
  color: #C1C8B6;
  border-radius: 5px;
	font-family: "ibm-plex-sans-jp", sans-serif;
	font-weight:20;
	
	
}
	
ul {
display:block;
	list-style-type: none;
	overflow: hidden;
	
}	


.nav ul{
	
list-style: none;
	display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
	gap: 20px;
}
 
  
	

.nav a {
  display: block;
  text-align: center;
	padding:15px 60px;
	text-decoration: none;
	
}
.nav a:hover{
text-decoration: underline;	
	
	

	
}


.home{
	
font-size:24px;	
color:#C1C8B6;
background-color:#6A797F;
	margin-left:8px;

	
	
}

.home hover{
text-decoration: underline;	
	
	

	
}

.about{
	
	font-size:24px;
	color:#C1C8B6;	
	background-color:#6A797F;
	
	
	
}

.about hover{
text-decoration: underline;	
	
	
	
}





.menu{
	
font-size:24px;	
	color:#C1C8B6;	
	background-color:#6A797F;
	
	
	
}

.menu hover{
text-decoration: underline;		
	
	
	
}

.events{
	
font-size:24px;	
	color:#C1C8B6;	
	background-color:#6A797F;
	
	
	
	
}

.events hover{
	
text-decoration: underline;	
	
	
	
}


body {
	background-color: #D0D4BE;
	margin-left:0%;
	margin-right: 10%;
	width:100%;
	font-family: "martel-sans", sans-serif;
	
}



#subhead p{
	
font-size:15px;	
margin-left: 5%;
	margin-right: 5%;
	line-height:30px;
	margin-top:80px;
	margin-bottom:100px;
	
}


.viewmenu{

  background-color: #A0896E;
  color: #C1C8B6;            
  padding: 25px 20px;         
  text-align: center;         
  width: 300px;              
  margin: 160px auto 230px auto;
	font-size:30px;
	  text-decoration: none;

	
}

.viewmenu a{	
 color: #C1C8B6; 	
	text-decoration: none;
}

.viewmenu a:hover{
text-decoration: underline;
	
	
	
}


h2{
font-size:35px;
margin-top: 150px;
	margin-left: auto;
margin-right: auto;
	text-align:center;
font-family: "martel-sans", sans-serif;
  border-bottom:4px solid #A0896E;

	padding-bottom:15px;
	width:300px;
	
	
}



.event1 {
  display: flex;
  gap: 20px;
  margin: 10px 110px;
  padding: 100px 0;
	align-items: flex-start;
}

.event1 img {
  width: 600px;             
  height: auto;
  border: 8px solid #A0896E;
	float:left;
	margin-right:25px;
}

.links:hover{
	
text-decoration: underline;		
color:#A0896E;	
	
}



.links2:hover{
text-decoration: underline;	
	color:#A0896E;
	
}



.event2 {
  display: flex;
  gap: 20px;
  margin: 10px 110px;
  padding: 100px 0;
	align-items: flex-start;
	
}

.event2 img {
  width: 400px;         
  height: auto;
  border: 8px solid #A0896E;
	float:left;
	margin-right:25px;
}

.event2 p{
	margin-top:25px;
	
	
	
	
}






.event3 {
  gap: 20px;
  margin: 10px 110px;
  padding: 100px 0;
	align-items: flex-start;
}


.event3 img {
  width: 600px;             
  height: auto;
  border: 8px solid #A0896E;
	float:left;
	margin-right:25px;
}




.links:hover{
	
text-decoration: underline;		

}

.links{
line-height:3.6;
		
	
	
	
}



.links3{
margin-top:8px;	
	margin-bottom:30px;
	
	
}


.links3:hover{
	
text-decoration: underline;		
color:#B3A089;
	
	
}


.links4{
	
text-decoration: underline;		
color:#B3A089;
}






footer{
background-color:#C1C8B6;
	z-index: 100;
	bottom: 0;
	padding:40px 20px;
	margin-top:200px;
	overflow:hidden;
	
	
	
	
}

footer p {
margin-top:35px;	
margin-left:150px;
	line-height:25px;
	
}

footer .contact{
	
float:right;
	text-align:right;
	margin-top:-243px;
	margin-right:230px;
	line-height:25px;
	
}


footer img{
	
width:30px;
	height:auto;
	margin-right:5px;
	
	
	
}


#copyright{

	clear:both;
	margin:0 auto;
	text-align:center;
	
	
}