@charset "UTF-8";
/* CSS Document */








h1{
text-align:center;	
font-size:60px;
	font-family:"itc-bradley-hand-std", sans-serif;
	color:#38291E;
}

	

	

.bgimg{
	
	
background-image: url("../img/homepagemain copy.jpg");
	background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
	position: relative;
	height: 100vh;
}



.container{
	
  margin: 20px;
  width: auto;
	
	
}

.nav{
	
	overflow: hidden;
	display: block;
  font-size: 20px;
  text-decoration: none;
  color: #C1C8B6;
  border-radius: 5px;
	font-family: "ibm-plex-sans-jp", sans-serif;
	font-weight:20;
	
	
}
	
ul {
display:block;
	list-style-type: none;
	overflow: hidden;
	text-decoration: none;

	
}	


.nav ul{
	
list-style: none;
	display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
	gap: 20px;
}
 
  
	

.nav a {
  display: block;
  text-align: center;
  text-decoration: none;
	padding:15px 60px;
	
}
	



body {
	background-color: #D0D4BE;
	margin-left:0%;
	margin-right: 10%;
	width:100%;
	margin-bottom:60px;
	font-family: "martel-sans", sans-serif;
	
}


.home{
	
font-size:24px;	
color:#C1C8B6;
background-color:#6A797F;
	margin-left:8px;

	
	
}

.home hover{
text-decoration: underline;	
	
	

	
}

.about{
	
	font-size:24px;
	color:#C1C8B6;	
	background-color:#6A797F;
	
	
	
}

.about hover{
text-decoration: underline;	
	
	
	
}





.menu{
	
font-size:24px;	
	color:#C1C8B6;	
	background-color:#6A797F;
	
	
	
}

.menu hover{
text-decoration: underline;		
	
	
	
}

.events{
	
font-size:24px;	
	color:#C1C8B6;	
	background-color:#6A797F;
	
	
	
	
}

.events hover{
	
text-decoration: underline;	
	
	
	
}


h2{
	
text-align:center;
font-size:25px;
	font-weight:500;
	letter-spacing:0px;
	word-spacing:0px;
	


}


.chefimage img{
	position:relative;
	align-content: center;
width:500px;
	height:auto;
	display:block;
	margin:auto;
}


#weeklyspecials{
	
position: relative;
	 list-style-type: disc;
	padding-left: 20px;
	counter-reset: item;
font-size:15px;
background-color:#C1C8B6;
	background-position: center;
padding: 2em 3.3em 2.3em 3.6em;
margin: 100px 50px 50px 50px;
width:80%;
	line-height:30px;

	
	
	
	
}


#weeklyspecials li{
	
list-style-type: disc;
	margin-bottom: 40px;
	
	
	
}


h3{
font-size:30px;	
	
	
}


#copyright{

text-align:center;	
	
	
	
}





#subhead p{
	
font-size:16px;	
text-align: center;
	line-height: 38px;
	margin-top:100px;
margin-left:3%;
	margin-right:3%;
	
}


.viewmenu{

  background-color: #A0896E;
  color: #C1C8B6;            
  padding: 25px 20px;         
  text-align: center;         
  width: 300px;              
  margin: 160px auto 230px auto;
	font-size:30px;
	  text-decoration: none;

	
}

.viewmenu a{
text-decoration: none;	
 color: #C1C8B6; 	
	
}

.viewmenu hover{
text-decoration: underline;
	
	
	
}





.imgcollage {
  display: flex;
  flex-wrap: wrap; /* allows images to move to the next row */
  gap: 20px; /* space between images */
  justify-content: center; /* center the collage */
}

.imgcollage img {
  width: 100%;
max-width:400px;
  height: auto; /* maintain aspect ratio */
  flex: 1 1 300px; /* flexible: grow/shrink, base width 300px */
  border-radius: 8px; /* optional: rounded corners */
}



.insideofrestaurant{
	

	

	
}

.insideofbooth {
	

}

.oystersinbowl{
	
}

.oysterinhand{
margin-top:-330px;	

}

.fishonplate{
	
	
}

.seafoodplatter{
	
	
}

.waitertalking{
margin-right:418px;	
margin-top:-220px;
	
}

.chefchopping{


}






.clearboth {
	clear: both;
}


footer{
background-color:#C1C8B6;
	z-index: 100;
	bottom: 0;
	padding:40px 20px;
	margin-top:130px;
	overflow:hidden;
	
	
	
	
}

footer p {
margin-top:35px;	
margin-left:150px;
	line-height:25px;
	
}

footer .contact{
	
float:right;
	text-align:right;
	margin-top:-243px;
	margin-right:230px;
	line-height:25px;
	
}


footer img{
	
vertical-align: middle;
width:30px;
	height:auto;
	margin-right:5px;
	
	
	
}
