@charset "UTF-8";
/* CSS Document */

@import url("mem7b0afd6c.css");


body {
	background-color: #ADC7B3;
	margin-left:6%;
	margin-right: 1%;
	line-height: 2em;
	font-family: serifa-stencil-d, serif;
	
	
}
h1{
	
font-family: hothouse, sans-serif;
font-weight: 600;

  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;



}



h2{
	
font-family: serifa-stencil-d, serif;
font-weight: 600;
	font-size:30px;
	
	
	
	
}


dt{
	
font-family: scriptorama-markdown-jf, sans-serif;
font-weight: 200px;
font-size:17px;
	
	
	
	
}


h3{
	font-size:20px;
	font-family: journal, sans-serif;

	
}

h4{
font-size:18px;	
	
	
	
}


	
a:link{
	
	color: #134726;
	text-decoration: none;
	
}


a:visited{
	
color: 	#833873
	
	
}


a:hover{
	
	text-decoration: underline;
	color: chartreuse;
	
	
	
	
}


.weekly{
	
	width:45%;
	float:left;
	
	
}

#project{
	
	width:45%;
	float:left;
	
}

.demo{
	
font-weight:100;

	color:red
	
	
	
	
}



	

