@charset "UTF-8";
/* CSS Document */
 
body {
  text-align: center;
  background: url("../img/vertex-designs-e5EbaIEnpw8-unsplash.jpg") no-repeat center center fixed;
  background-size: cover 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}


div {
    display: block;
    unicode-bidi: isolate;
}		

#container {

	margin-top:20vh;
	margin-left:10vw;

  }

 p {
	  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
	font-size:70px;
	 color:white;
	  font-family: "p22-spooky",sans-serif;
	
	 
  }



 
.mobile-only {
    display: none;
  }

/* tell browser don't display it when screen is wider than 768px */
 

/* tell browser to do the followings when screen is at and narrower than 768px */
  @media only screen and (max-width: 768px) {
	body {
		background-image: none;
		background-color:#872E03;
	  }
	  
	#container {
 margin-top: 20vh;
    }
	   
    p {
text-transform: none;
		font-size: 58px;
		color:white;
		 font-family: "halau-spooky-script",sans-serif;
    }
	  
	#cursive {
  font-weight: 400;
  font-style: normal;
		font-size: 70px;
		
	  }
	  
	  
	   .mobile-only {
    display: block;
  }
	  /* Now the style and content for desktop will not be displied */
    .desktop-only {
		display:none;
  
    }
}

 /* don't forget to close the styles for mobile*/