/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * cc-incy-wincy-spider:
 *   - http://typekit.com/eulas/0000000000000000775594f1
 * cc-incy-wincy-spider-venom:
 *   - http://typekit.com/eulas/0000000000000000775594e6
 * cc-incy-wincy-spider-web:
 *   - http://typekit.com/eulas/0000000000000000775594e4
 * cc-primal-scream:
 *   - http://typekit.com/eulas/000000000000000077559508
 * cc-primal-scream-fill:
 *   - http://typekit.com/eulas/000000000000000077559504
 * cc-primal-scream-open:
 *   - http://typekit.com/eulas/000000000000000077559506
 * cc-primal-scream-outline:
 *   - http://typekit.com/eulas/000000000000000077559502
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2025-10-21 15:00:47 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=pnv5pac&ht=tk&f=57076.57077.57078.57100.57101.57102.57103&a=291246248&app=typekit&e=css");

@font-face {
font-family:"cc-incy-wincy-spider";
src:url("https://use.typekit.net/af/810647/0000000000000000775594f1/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/810647/0000000000000000775594f1/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/810647/0000000000000000775594f1/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"cc-incy-wincy-spider-venom";
src:url("https://use.typekit.net/af/440d33/0000000000000000775594e6/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/440d33/0000000000000000775594e6/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/440d33/0000000000000000775594e6/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"cc-incy-wincy-spider-web";
src:url("https://use.typekit.net/af/94b016/0000000000000000775594e4/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/94b016/0000000000000000775594e4/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/94b016/0000000000000000775594e4/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"cc-primal-scream";
src:url("https://use.typekit.net/af/a9ffcb/000000000000000077559508/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a9ffcb/000000000000000077559508/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a9ffcb/000000000000000077559508/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"cc-primal-scream-fill";
src:url("https://use.typekit.net/af/74698c/000000000000000077559504/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/74698c/000000000000000077559504/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/74698c/000000000000000077559504/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"cc-primal-scream-open";
src:url("https://use.typekit.net/af/43120c/000000000000000077559506/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/43120c/000000000000000077559506/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/43120c/000000000000000077559506/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"cc-primal-scream-outline";
src:url("https://use.typekit.net/af/af5a7c/000000000000000077559502/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/af5a7c/000000000000000077559502/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/af5a7c/000000000000000077559502/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-cc-incy-wincy-spider { font-family: "cc-incy-wincy-spider",sans-serif; }
.tk-cc-incy-wincy-spider-venom { font-family: "cc-incy-wincy-spider-venom",sans-serif; }
.tk-cc-incy-wincy-spider-web { font-family: "cc-incy-wincy-spider-web",sans-serif; }
.tk-cc-primal-scream { font-family: "cc-primal-scream",sans-serif; }
.tk-cc-primal-scream-fill { font-family: "cc-primal-scream-fill",sans-serif; }
.tk-cc-primal-scream-open { font-family: "cc-primal-scream-open",sans-serif; }
.tk-cc-primal-scream-outline { font-family: "cc-primal-scream-outline",sans-serif; }
